<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Login API</title>

    <link rel="stylesheet" href="main.css">
    <meta name="google-signin-client_id" 

    content="CLIENT_ID">

    <script src="https://apis.google.com/js/platform.js" async defer></script>

</head>

<body>
    <div class="container">
        <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
    </div>
    <h1>Welcome</h1>
    <h1 id="userName"></h1>
</body>
<script src="api.js"></script>

</html>